<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958581258711-j5pols35depl18csi9dat6g1s1u42dgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958581258711-j5pols35depl18csi9dat6g1s1u42dgk</string>
	<key>API_KEY</key>
	<string>AIzaSyAYMdLPf22agpc_xVRKEnXYT3KUEc7Gp_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>958581258711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projAppRoberto</string>
	<key>PROJECT_ID</key>
	<string>proj-app-movil</string>
	<key>STORAGE_BUCKET</key>
	<string>proj-app-movil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958581258711:ios:9ff8ac224d79720b4fb392</string>
</dict>
</plist>